<html>
<head>
<h3>leeeroyyy jjjennkinss</h3>
</head>

<body>
	<div id="text">
		<span>a</span>
		<span>a</span>
		<span>a</span>
		<span>a</span>
	</div>
	<script src="/javascripts/racer.js"></script>
</body>


</html>