<html>
<head>
<h3>leeeroyyy jjjennkinss</h3>
	<script src="/javascripts/racer.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css"></link>
</head>

<body>
	
	<div id="gameText">strings on strings</div>
	<form>
		<input type="textarea" autofocus="autofocus"/>
	</form>

</body>


</html>