<html>
<head>
<h3>leeeroyyy jjjennkinss</h3>
	<script src="/javascripts/racer.js"></script>
</head>

<body>
	<div id="text">
	</div>
	<div id='hella_hidden'>strings on strings</div>
	


</body>


</html>